@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h1,h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Nav bar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: #fff;
  position: relative;
}

.navbar a::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover::after {
  transform: scale(1);
}

/* .navbar a:hover {
  border-bottom: 2px solid #fff;
}  */

/* Showcase */
.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 400px;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase .card {
  color: #333;
  padding: 40px;
  height: 350px;
  position: relative;
  top: 60px;
  justify-self: end;
  z-index: 100;
}

.showcase-text {
  animation: slideFromLeft 1s ease-in;
}

.showcase-form {
  width: 400px;
  animation: slideFromRight 1s ease-in;
}

.showcase .input-control {
  margin: 30px 0;
}

.showcase-form input[type="text"], 
.showcase-form input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 1px #b4becb solid;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: 0;
}

.showcase::after,
.showcase::before {
  content: '';
  background-color: #fff;
  height: 100px;
  position: absolute;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-3deg);
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid {
  grid-template-columns: repeat(3,1fr);
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
}

/* CLI */
.cli .grid {
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child {
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
}

/* Cloud */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}


/* Languages */
.languages .card {
  margin: 18px 10px 40px;
  text-align: center;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card .h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
  transition: transform ease-in-out 0.2s;
}



/* Features */
.features img {
  width: 200px;
}

.features .grid {
  justify-content: space-between;
  grid-template-columns: 3fr 1fr;
}

/* Platform */
.platform img {
  width: 300px;
  justify-self: end;
}

.platform .grid {
  width: 100%;
  justify-content: space-between;
}

/* Services */
.services .card {
  display: flex;
  gap: 20px;
}

.services .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.services .grid > *:first-child {
  grid-column: 1 / span 3;
}

.services .grid > :nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */
.docs .grid {
  justify-content: space-between;
}

.docs img {
  justify-self: end;
  width: 200px;
}

.docs-main.grid {
  padding: 40px;
  gap: 40px;
  grid-template-columns: 1fr 2fr;
  align-items: start;
}

/* Essentials */
.essentials a {
  padding: 5px;
  margin: 5px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
}

.essentials .secondary-color {
  color: var(--primary-color);
}

.essentials a:hover {
  font-weight: bold;
}

/* Introduction */
.introduction .alert {
  justify-content: left;
  background-color: var(--success-color);
  color: #fff;
  font-weight: bold;
  gap: 10px;
  padding: 10px;
}

.introduction p {
  margin: 10px;
}

.introduction p.code {
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-family: monospace;
}

/* Footer */
.footer .grid {
  grid-template-columns: repeat(3, 1fr);
}

.footer .social-links i {
  margin: 0 10px;
}

.footer .social-links i.fa-github:hover {
  color: #000;
}

.footer .social-links i.fa-facebook:hover {
  color: var(--secondary-color);
}

.footer .social-links i.fa-instagram:hover {
  color: purple;
}

.footer .social-links i.fa-twitter:hover {
  color: var(--primary-color);
}


/* Tablets and under */
@media (max-width:768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features .grid,
  .services .grid,
  .docs .grid,
  .docs-main.grid,
  .footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    text-align: center;
    padding-top: 40px;
    height: auto;
  }

  .showcase .showcase-form {
    justify-self: center;
    animation: slideFromBottom 1s ease-in;
  }

  .showcase-text {
    animation: slideFromTop 1s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features, .platform, .docs {
    text-align: center;
  }
  .features img,
  .platform img,
  .docs img {
    margin: auto;
  }

  .services .grid > *:first-child,
  .services .grid > :nth-child(2) {
  grid-column: 1;
  }

  .doc-main.grid .essentials {
    width: auto;
  }
}

/* Mobile */
@media (max-width:500px) {
  .navbar {
    height: 130px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
  }

  .showcase .showcase-form {
    width: 300px;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}